<h1>List of all movies</h1>

<table border="1">
<% @list_of_movies.each do |movie| %>
  <tr>
    <td><%= movie.id %></td>
    <td>
      <img src="http://robohash.org/<%= movie.image %>">
    </td>
    <td><%= movie.title %></td>
    <td><%= movie.year %></td>
    <td><%= @list_of_directors.where({ :id => movie.director_id })[0].name%></td>
    <td>
      <a href="/movies/<%= movie.id %>">
        Show details
      </a>
    </td>
  </tr>
<% end %>
</table>